#motus {
    z-index: 1;
    margin-left: 450px;
}

#img2 {
    height: 50px;
    margin: 8px;
    width: 90%;
}

.img_motus {
    height: 150;
    margin: 8px;
}

#cadre_droit ul {
    height: 400px;
}