:root {
    --font-size-body: clamp(1rem, 0.75rem + 0.5vw, 1.75rem);
    --color-text-heading: #333333;
    --color-text-nav-link: #4741F0;
    --transition-fast: 200ms;
    --transition-medium: 400ms;
    --section-min-height: 400px;
}