.img_project {
    height: 150;
    margin: 8px;
}

#cadre_droit ul {
    height: 400px;
}

img:hover {

    transform: translateY(-5px);
    /* Soulève légèrement l’article au survol */
    box-shadow: 0 8px 20px rgba(122, 105, 233, 0.2);
    /* Ombre plus marquée lors du hover */
    transform: scale(1.5);
}

/*########## MOTUS ##########*/
#motus {
    z-index: 1;
    margin-left: 450px;
}
#img2 {
    height: 50px;
    margin: 8px;
    width: 90%;
}

@media (max-width: 1025px) {
    #img2 {
        height: 25px;
        margin: 2px;
        width: 60%;
    }

    .img_project {
        height: 75px;
        margin: 2px;
    }

    #motus {
        margin-left: 175px;
    }

    .cadre_gauche {
        height: 200px;
        margin: 4px;
        padding-left: 8px;
        top: 25%;
        position: relative;
    }
}

#cadre_droit ul {
    height: 400px;
}



